@import "tailwindcss";

:root {
    --bg-dark: #252626;
    --bg-dark-1: #CECECE;
    --bg-dark-2: #E1E1E1;
    --bg-dark-3: #25262608;
    --bg-dark-5: #2526260D;
    --bg-dark-10: #EBE6C81A;
    --bg-light: #FFFFFF;
    --bg-light-1: #EFEFEF;
    --bg-primary: #FFFFFF;
    --bg-secondary: #EBE6C8;
    --bg-dark-15: #2526261A;
    --bg-dark-6: #F2F2F2;

    
    --border-dark: #CECECE;
    --border-dark-50: #CECECE1A;
    --border-black-15: #25262626;
    
    --color-light: #FFFFFF;
    --color-light-80: #FFFFFF80;
    --color-dark: #666666;
    --color-dark-5: #2526260D;
    --color-dark-70: #252626B2;
    --color-black: #000000;
    --color-black-secondary: #252626;
    --color-primary: #897D4E;
    --color-disabled: #2526264D;
    --color-success: #B1A459;

    --green-stroke: #22c55e;
    --red-stroke: #ef4444;
    --green-fill: #22c55e20;
    --red-fill: #ef444420;

    --gradient-primary: linear-gradient(90deg, #666666 0%, #000000 100%);
}   

html,
body {
  font-family: 'DM Mono';
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  } */