@import "tailwindcss";

:root {
    --green-stroke: #22c55e;
    --red-stroke: #ef4444;
    --green-fill: #22c55e20;
    --red-fill: #ef444420;
}   

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  } */