@import "tailwindcss";

:root {
    --bg-dark: #252626;
    --bg-dark-1: #CECECE;
    --bg-dark-2: #E1E1E1;
    --bg-dark-3: #25262608;
    --bg-dark-4: #D9D9D9;
    --bg-dark-5: #2526260D;
    --bg-dark-6: #F2F2F2;
    --bg-dark-7: #353535;
    --bg-dark-8: #25262614;
    --bg-dark-10: #EBE6C81A;
    --bg-light: #FFFFFF;
    --bg-light-1: #EFEFEF;
    --bg-light-2: #F4F4F4;
    --bg-primary: #FFFFFF;
    --bg-secondary: #EBE6C8;
    --bg-dark-15: #2526261A;
    --bg-dark-overlay: #000000E5;
    
    --border-black: #1C1D22;
    --border-dark-70: #989898B2;
    --border-dark: #CECECE;
    --border-dark-50: #CECECE1A;
    --border-black-15: #25262626;
    
    --color-dark-100: #686A76;
    --color-light: #FFFFFF;
    --color-gray: #6F7072;
    --color-light-80: #FFFFFF80;
    --color-dark: #666666;
    --color-dark-1: #6A6A6A;
    --color-dark-2: #616161;
    --color-dark-5: #2526260D;
    --color-dark-70: #252626B2;
    --color-black: #000000;
    --color-black-secondary: #252626;
    --color-primary: #897D4E;
    --color-disabled: #2526264D;
    --color-success: #B1A459;
    --color-red: #D25E77;

    --green-stroke: #22c55e;
    --red-stroke: #ef4444;
    --green-fill: #22c55e20;
    --red-fill: #ef444420;

    --gradient-primary: linear-gradient(90deg, #666666 0%, #000000 100%);
    --gradient-secondary: linear-gradient(180deg, #9B9B9B 0%, #C9C9C9 100%);
    --gradient-primary-reverse: linear-gradient(180deg, #000000 0%, #666666 100%);

}   

html,
body {
  font-family: 'mono', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}




